

{{!-- <form action="/login" method="post">
  <div>
    <label for="email-input"> Email or Nickname </label>
    <input type="text" name="user" id="email-input"
      placeholder="Introduce your email or Nickname">
  </div>

  <div>
    <label for="password-input"> Password </label>
    <input type="password" name="password" id="password-input"
      placeholder="Introduce your password">
  </div>

  <button> Log In </button>
</form>

<p>
  Don't have an account?
  <a href="/signup">
    Create an account.
  </a>
</p>
 --}}

<div class="container" id="container">
<div class="form-container sign-in-container">
  <form action="/login" method="post">
    <h1>Sign in</h1>
    <input type="text" name="user" id="email-input" placeholder="Introduce your email or Nickname" />
    <input type="password" name="password" id="password-input" placeholder="Password" />
    {{#if errorMessage}}
    <p class="error-message">
      {{ errorMessage }}
    </p>
    {{/if}}
    <button>Log In</button>
  </form>
</div>
<div class="overlay-container">
  <div class="overlay">
    <div class="overlay-panel overlay-right">
      <h1>Hello, Friend!</h1>
      <p>Enter your personal details and start journey with us</p>
     <a href="/signup"><button class="ghost" id="signUp">Sign Up</button></a> 
    </div>
  </div>
</div>
</div>
</div>
