<h2> Log In </h2>

{{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
{{/if}}

<form action="/login" method="post">
  <div>
    <label for="email-input"> Email or Nickname  </label>
    <input type="text" name="user" id="email-input"
      placeholder="Introduce your email or Nickname">
  </div>

  <div>
    <label for="password-input"> Password </label>
    <input type="password" name="password" id="password-input"
      placeholder="Introduce your password">
  </div>

  <button> Log In </button>
</form>

<p>
  Don't have an account?
  <a href="/signup">
    Create an account.
  </a>
</p>