<h2> Sign Up </h2>

{{#if errorMessage}}
<p class="error-message">
    {{ errorMessage }}
</p>
{{/if}}

<form action="/signup" method="post">
    <div>
        <label for="name-input"> Nickname </label>
        <input type="text" name="name" id="name-input" placeholder="Nickname">
    </div>

    <div>
        <label for="email-input"> Email </label>
        <input type="email" name="email" id="email-input" placeholder="Email">
    </div>

    <div>
        <label for="password-input"> Password </label>
        <input type="password" name="password" id="password-input" placeholder="Password">
    </div>

    
    <div>
        <label for="repeatPassword-input"> Repeat Password </label>
        <input type="repeatPassword" name="repeatPassword" id="repeatPassword-input" placeholder="Repeat Password">
    </div>

    <button> Create New Account </button>
</form>

<p>
    Already have an account?
    <a href="/login">
        Log in.
    </a>
</p>