<div>

  <h2>List of events</h2>

<form action="/allEvents" method="get">

  <div class="dropdownMenu">
    <span> Type of the event:</span>
    <select name="type">
      <option value="all">All</option>
      <option value="conference">Conference</option>
      <option value="meet up">Meet up</option>
      <option value="course">Course</option>
      <option value="talk">Talk</option>
      <option value="other">Other</option>
    </select>
  </div>

  <div class="dateSearch">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date">
  </div>

  <div class="citySearch">
    <label for="gsearch">Search with City:</label>
    <input type="search" id="citySearch" name="city">
    <button> Search!!</a></button>
  </div>

</form>

  {{#each eventsList}}
  {{!-- después de la busqueda, la página nos tiene que devolver los resultados --}}


  <div>
    <p><a href="/allEvents/{{_id}}">{{this.title}}</a></p>
    <p>{{this.date}}</p>
    <p>{{this.location}}</p>
  </div>

  {{/each}}
</div>