<div>
  <h2>List of events</h2>
  <div class="dropdownMenu">
    <ul>
      <li>Type of event:</li>
      <li>Conference</li>
      <li>Meet up</li>
      <li>Courses</li>
      <li>Talks</li>
      <li>Others</li>
    </ul>
  </div>
  <div class="dateSearch">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date">
  </div>
  <div class="citySearch">
    <label for="gsearch">Search with City:</label>
    <input type="search" id="citySearch" name="city">
  </div>
</div>


{{!-- después de la busqueda, la página nos tiene que devolver los resultados --}}