<div>
  <h2>Events I am attending</h2>
  <div class="attendingContainer">
    <div class="attendingCard"> {{!-- the information of the cards will be inserted from the DB --}}
      <h3>Title</h3>
      <h2>City</h2>
      <h2>Date</h2>
      <button><a href="/">I will not attend</a></button>
      <button><a href="/">See More</a></button>
    </div>
  </div>
</div>