<h2 class="h2-subtitles">Our Career Event:</h2>
<div class="seeMoreContainer">
  <div><img src="/images/background/3.jpg"></div>
<p class="seeMoreCard-p" >Our online recruiting events for developers, designers, and product managers are just a rewarding as our in-person events. <br><br>
You’ll get to experience our signature rapid-interviews through our online video matching platform. Meet up to 20+ companies in just two hours from the comfort of your home as well as networking with other attendees at the event. <br><br>
Whether you are actively looking for your next challenge, curious about other opportunities, or just interested in networking with other companies and individuals who support gender diversity – we’d love to see you there!<br><br>
You’ll get to experience our signature rapid-interviews through our online video matching platform. Learn more about your city’s hiring landscape and current opportunities from the comfort of your home as well as network fellow attendees at the event.<br><br>
MEET INDUSTRY PLAYERS<br><br>
<span style="font-weight: bolder;">WIT </span>gives you face-to-face virtual meetings with local companies and industry players in your city. Our events are organized in a rapid rotations format (5 minutes each) to keep things fun and engaging.<br><br>
WHY ATTEND <span style="font-weight: bolder;">WIT </span> EVENTS?<br><br>
Get an insider’s perspective on the various interesting technologies and projects that companies are working on, and the opportunity to meet engineers, managers, and even CTOs face-to-face. Learn about companies’ benefits and team culture firsthand.<br><br>
Meet and network with other fellow women in tech and build your network of trusted industry contacts.</p>
</div>