<form action="/createEvents" method="post">
    <div>
        <label for="title-input"> Title of the event: </label>
        <input type="text" name="title" id="title-input" placeholder="Title">
    </div>

    <div>
        <label for="city-input"> City: </label>
        <input type="text" name="city" id="city-input" placeholder="City">
    </div>

    <div>
        <label for="date-input"> Date: </label>
        <input type="date" name="date" id="date-input" placeholder="Date">
    </div>

      <div class="dropdownMenu">
        <span> Type of the event:</span>
             <select name="filterType">
                 <option value="all">All</option>
                 <option value="conference">Conference</option>
                 <option value="meet up">Meet up</option>
                 <option value="courses">Courses</option>
                 <option value="talks">Talks</option>
                 <option value="others">Others</option>
             </select>
     </div>
    
     <div>
        <label for="description-input"> Description: </label>
        <input type="text" name="description" id="description-input" placeholder="Description:"> 
    </div>

    <div>
        <label for="limit-input"> Limit of people: </label>
        <input type="number" name="limit" id="type-input" placeholder="Limit of people than can attend the event"> 
    </div>

    {{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
{{/if}}

    <button> Publish your event!</button>
</form>