<form action="/createEvents" method="post">
    <div>
        <label for="title-input"> Title of the event: </label>
        <input type="text" name="name" id="title-input" placeholder="Title">
    </div>

    <div>
        <label for="city-input"> City: </label>
        <input type="text" name="city" id="city-input" placeholder="City">
    </div>

    <div>
        <label for="date-input"> Date: </label>
        <input type="date" name="date" id="date-input" placeholder="Date">
    </div>

     <div>
        <label for="type-input"> Type: </label>
        <input type="text" name="type" id="type-input" placeholder="conference, meet up, course, talk, other"> 
    </div>

    
     <div>
        <label for="description-input"> Description: </label>
        <input type="text" name="description" id="description-input" placeholder="Description:"> 
    </div>

    <div>
        <label for="limit-input"> Limit of people: </label>
        <input type="number" name="type" id="type-input" placeholder="Limit of people than can attend the event"> 
    </div>

    <button> Publish your event!</button>
</form>