<p> Hello, {{ currentUserInfo.name }}. </p>
<div class="userOptions">
  <div>
    <h3> Events I am attending</h3>
    <button><a href="/attendEvents">Go!</a></button>
  </div>
  <div>
    <h3> Join a new event!</h3>
    <button><a href="/allEvents">Go!</a></button>
  </div>
  <div>
    <h3> Events that you have created</h3>
    <button><a href="/myEventsCreated">Go!</a></button>
  </div>
</div>