<p class="parrafo"> Hello, {{ nickname }} </p>
<div class="articles">
  <div class="articles__article" style="--animation-order:1">
    <a class="articles__link" href="/attendEvents">
      <div class="articles__content articles__content--lhs">
        <h2 class="articles__title"> Events I am attending</h2>
      </div>
      <div class="articles__content articles__content--rhs" aria-hidden="true">
        <h2 class="articles__title"> Events I am attending</h2>
      </div>
    </a>
  </div>

  <div class="articles__article" style="--animation-order:1">
    <a class="articles__link" href="/allEvents">
      <div class="articles__content articles__content--lhs">
        <h2 class="articles__title"> Join a new event</h2>
      </div>
      <div class="articles__content articles__content--rhs" aria-hidden="true">
        <h2 class="articles__title"> Join a new event</h2>
      </div>
    </a>
  </div>

   <div class="articles__article" style="--animation-order:1">
    <a class="articles__link" href="/myEventsCreated">
      <div class="articles__content articles__content--lhs">
        <h2 class="articles__title"> Events that you have created</h2>
      </div>
      <div class="articles__content articles__content--rhs" aria-hidden="true">
        <h2 class="articles__title"> Events that you have created</h2>
      </div>
    </a>
  </div>
</div>