<div>
  <h2>See more:</h2>
  <div class="seeMoreContainer">
    <div class="seeMoreCard"> {{!-- the information of the card will be inserted from the DB --}}
      <h3>Title</h3>
      <h2>City</h2>
      <h2>Date</h2>
      <h2>Description</h2>
      <h2>List of attendees:</h2>
      {{!-- maybe we can insert a map of the location--}}
       <button><a href="/">I want to attend!</a></button>
    </div>
  </div>
</div>