
{{!-- CENTER OF THE PAGE --}}

  <section class="coverSection">
    <button><a href="/signup"> Join us!</a></button>
  </section>

{{!-- EVENT PREVIEW --}}
<div class="eventsPreview">
  <div class="eachEvent">
    {{!-- code for each event card preview --}}
  </div>
</div>


