<div>
  <h2>My events</h2>
  <div class="attendingContainer">
    {{#each events}}
    <div class="attendingCard"> {{!-- the information of the cards will be inserted from the DB --}}
      <h3>{{this.title}}</h3>
      <h2>{{this.description}}</h2>
      <h2>{{this.date}}</h2>
      <h2>List of participants</h2>
      <button><a href="/">Cancel event</a></button>
      <button><a href="/">Modify event</a></button>
    </div>
    {{/each}}
  </div>
</div>